@import "./utils/variables"; 
@import "./utils/mixins";

body {
    font-family: $font-texte;
    position: relative;
}


/* page d'acceuil */

.header__logo {
    font-family: $font-logo_titre;
    font-size: 2em;
    display: flex;
    justify-content: center;
    padding: 15px 0 15px 0;
}


.loading {
    position: sticky;
    z-index: -1;
    top: 35%;
    margin: -210px auto 0 auto;
    width: 200px;
    height: 200px;
    border: 5px solid transparent;
    border-top-color: $colour-primary;
    border-radius: 50%;
    animation: loading 1.5s ease 2;
    visibility: hidden;
  }
  
        @keyframes loading {
            from {
                z-index: 10;
                transform: rotate(0turn);
                visibility: visible;
            }
            
            to {
                z-index: 10;
                transform: rotate(2turn);
                visibility: visible;
            }
        }

.overlay_loading {
    position: absolute;
    z-index: -2;
    background: $colour-overlay;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    animation: overlay_loading 3s;
    visibility: hidden;
    margin-top: -210px;
 }

        @keyframes overlay_loading {
            from {
                visibility: visible;
                z-index: 9;
            }

            to {
                visibility: visible;
                z-index: 9;
            }
        }

.location {
    display: flex;
    justify-content: center;
    padding: 15px 0 15px 0;
    background-color: #eaeaea;
    font-weight: 600;
    color:rgb(31, 31, 31);
    box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.185);
}

        .fa-location-dot {
            margin: 0 20px 0 -30px;
        }

.first_section {
    background-color: #f6f6f6;
    padding: 35px 0 55px 0;
    margin-bottom: 55px;
}

        .first_section_titre {
            text-align: center;
            font-weight: 900;
            font-size: 1.4em;
            margin: 0 0 7px 0;
        }

        .first_section_texte {
            text-align: center;
            color :rgb(78, 78, 78)
        }

.button {
    display: block;
    margin: 30px auto 0 auto;
    font-size: 0.9em;
    background: linear-gradient($colour-secondary, $colour-primary);
    color : white;
    padding: 10px 15px 10px 15px;
    border-radius: 30px;
    border: none;
    box-shadow: 1px 2px 3px 1px rgb(0 0 0 / 23%);
    filter: brightness(1);
    transition: filter 200ms, box-shadow 200ms;
    &:hover {
        filter: brightness(1.1);
        box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.5);
    }
    &_menu {
        padding: 10px 35px 10px 35px;
        font-size: 0.9em;
        margin-top: 50px;
    }
}


.second_section {
    max-width: 375px;
    margin-left: auto;
    margin-right: auto;
    @media (min-width:1020px) {
        margin: 0;
        max-width: none;
    }
}

        .second_section_title {
            font-weight: 900;
            font-size: 1.4em;
            margin: 0 0 40px 15px;
        }

        .boutons {
        @include centrage_responsive;
        }

            .fonctionnement_button {
                display: flex;
                flex-direction: row;
                background-color:#f6f6f6 ;
                padding: 20px 0 20px 0;
                width: 320px;
                border-radius: 20px;
                margin: 0 0 30px 20px;
                box-shadow: 1px 2px 5px 2px rgb(0 0 0 / 9%);
                @media (max-width: 340px) {
                    width: 90%;
                } 
            }

            .fonctionnement_button_number {
                background-color: $colour-primary;
                padding: 4px 6px 0 6px;
                border-radius: 50px;
                color: white;
                font-size: small;
                position: relative;
                left: -10px;
            }

            .fonctionnement_icon {
                color: #7e7e7e;
                margin: 0 20px 0 10px;
            }


            .fonctionnement_button_text {
                margin: 0;
                font-size: 0.9em;
                font-weight: 500;
            }

.third_section {
    background-color: #f6f6f6;
    padding: 50px 0 50px 0;
    margin-top: 50px;
}


        .third_section_title {
            font-weight: 900;
            font-size: 1.4em;
            margin: 0 auto 20px auto;
            padding-left: 15px;
            max-width: 375px;
            @media (min-width:559px) {
                margin: 0 0 20px 15px;
                padding: 0;
            }    
        }

        .cards_restau {
            @include centrage_responsive;
            @media (min-width: 840px) {
                justify-content: flex-start;
                margin-left: 20px;
            }  
        }

                .card_restau {
                    width: 280px;
                    height: 200px;
                    border-radius: 16px;
                    background-color: white;
                    margin-bottom: 15px;
                    box-shadow: 2px 2px 10px -2px rgb(160, 160, 160);
                    text-decoration: none;
                    color: black;
                    @media (min-width: 840px) {
                        margin-right: 20px;
                    }
                }

                        .image_card_restau {
                            height: 70%;
                            width: 100%;
                            overflow: hidden;
                            margin-bottom: 3%;
                            border-radius: 0.7em 0.7em 0 0;
                        }

                        .image_card_restau img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }

                        .img_palette {
                            object-position: 50% 65%;
                        }

                        .img_note {
                            object-position: 50% 62%;
                        }

                        .img_française {
                            object-position: 50% 85%;
                        }

                        .img_délice {
                            object-position: 50% 75%;
                        }

                .infos_card {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                }

                        .text_card {
                            margin-left: 10px;
                            font-size: 0.9em;
                        }

                        .nom_restau_accueil {
                            font-weight: 700;
                            margin-bottom: 5px;
                        }

                .nouveau {
                    position: relative;
                    top: -179px;
                    left: 204px;
                    width: 43px;
                    padding: 5px 10px 5px 10px;
                    margin: 0;
                    background-color: $colour-tertiary;
                    font-size: 0.7em;
                    font-weight: 500;
                    color: darken($colour-tertiary,45%);
                }
                



.coeur_animation {
    margin: 10px 20px 0 0;
    height: fit-content;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    
    &:hover {
        background: -webkit-gradient(linear, left top, left bottom, from($colour-primary), to($colour-secondary));
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-color: white;
        animation: remplissage_coeur 1s;
        animation-fill-mode: forwards;
    }
}

@keyframes remplissage_coeur {
    from {
        transform: scale(0.5);
    }

    to {
        transform: scale(1.2);
    }
}


/* Footer */

.footer {
    background-color: #353535;
    color: white;
    padding: 20px;
}

.logo_footer {
    font-family: $font-logo_titre;
    margin-bottom: 20px;
}

.footer_logo_text {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.text_footer {
    margin-bottom: 10px;
}

.fa-utensils {
    margin-right: 14.8px;
    font-size: 0.8em;
}

.fa-handshake-angle {
    margin-right: 10px;
    font-size: 0.8em;
}



/* Page menu */

.indication_scroll{
    display: none;
    @media (min-width:768px) {
        display: block;
        position: absolute;
        margin: 20px;
        padding: 10px;
        width: fit-content;
        background-color: $colour-tertiary;
        border-radius: 10px;
    }
   
}

.header_menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

        .centrage_logo {
            width: 31px;
        }

        .fa-arrow-left {
            font-size: 1.5em;
            margin: 21.4px 0 0 10px;
            color: black;
        }

.main_menu {
    background-color: #f6f6f6 ;
}

.image_first_section {
    width: 100%;
    height: 100%;
}

.second_section_menu {
    padding: 30px 15px 40px 15px;
    background-color: #f6f6f6;
    border-radius: 40px 40px 0 0;
    position: relative;
    top: -40px;
}

        .titre_menu {
            display: flex;
            justify-content: space-between;
        }

        .nom_restau_menu {
            font-family: $font-logo_titre;
            font-size: 1.5em;
        }


        .partie_menu {
            margin: 35px 0 5px 0;
            color: #353535;
        }

                .nom_plat {
                    font-weight: 700;
                    margin: 10px 0px 5px 10px;
                
                }

                .détails_nom_plat {
                    width: 100%;
                    overflow: hidden;
                }
                
                .détails_plat {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    font-size: 0.9em;
                    color: #353535;
                    margin: 0 0 10px 10px;
                }
                
                .prix {
                    font-weight: 700;
                    margin: 0 10px 0 5px;
                }

        .trait {
            width: 40px;
            height: 18px;
            border-top: 3.3px solid $colour-tertiary ;
        }



.centrage_plat {
    display: block;
    @media (min-width:768px) {
        @include centrage_responsive;
    }
}

.plat {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    box-shadow: 1px 2px 5px 2px rgb(0 0 0 / 9%);
    margin-bottom: 15px;
    max-width: 400px;
    @media (min-width:768px) {
        width: 325px;
    }
    &:hover {
        &  .background_ajout {
               animation: ajout_plat 600ms;
               animation-fill-mode: forwards;
        }
        &  .fa-circle-check {
                animation: rotation_icone 600ms;
                animation-fill-mode: forwards;
        }
    }
}

        .background_ajout {
            position: absolute;
            background-color: $colour-tertiary;
            padding: 18.8px 0 18.8px 0;
            border-radius: 0 20px 20px 0;
            font-size: 1.4em;
            height: 22.4px;
            width: 0;
            visibility: hidden;
        }

                @keyframes ajout_plat {
                    from {
                        padding: 18.8px 0 18.8px 0;
                        transform-origin: right;
                        position: static;
                        width: 0;
                        visibility: visible;
                    }

                    to {
                        padding: 18.8px;
                        position: static;
                        width: 22.4px;
                        visibility: visible;
                    }
                }

        .fa-circle-check {
            color: white;
        }

                @keyframes rotation_icone {
                    from {
                        transform: rotate(0turn);
                    }

                    to {
                        transform: rotate(1turn);
                    }
                }

        .points_suspension {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }


.apparition_entrees {
    animation: apparition_entrees 2s;
}

    @keyframes apparition_entrees {
        0% {
            opacity: 0;
        }

        30% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

.apparition_plats {
    animation: apparition_plats 2.5s;
}

    @keyframes apparition_plats {
        0% {
            opacity: 0;
        }

        44% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

.apparition_desserts {
    animation: apparition_desserts 3s;
}

@keyframes apparition_desserts {
    0% {
        opacity: 0;
    }

    53% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
