$colour-primary: #9356DC;
$colour-secondary : #FF79DA;
$colour-tertiary : #99E2D0;
$colour-overlay : rgb(201, 201, 201);

$font-logo_titre : "Shrikhand", sans-serif;
$font-texte : "Roboto", sans-serif;
